extends ./layout/clientLayout
block append head
  script(src='/js/clients/confirm.js')
  style
    | .hint{display: block !important;}
block content
  .col
    .row.justify-content-center
      .col-9
        .card
          .card-body
            form#confirm-false-form(name="confirm-false-form",method="post",action="/confirmTiket")
              - if(confirm==='true')
                !{  msg  }
              - else
                input(type='hidden',name='id',value=tiket)
                .form-group
                  textarea#comment.form-control.floating-label(autofocus=true,rows=10,name='comment',required='true')
                  label(for='comment')=comment
                  span.hint.text-danger
                button.btn.btn-primary.btn-raised.float-right#send-comment(type="submit")=button